
// Colors
$black-primary: #131415;
$black-secondary: #0c0c0c;
$black-tertiary: #777778;
$white-secondary: #dcdcdc;
$blue-primary: #0e3fe5;
$grey-light: #f6f6f6;
$yellow-500: #EAA901;
$green-500: #21AE94;